html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  padding: 50px 0;
  width: 100%;
  background: #06560970;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px groove #1D2A1D;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: #E9E9E9;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 1s ease-out 0s;
  padding: 10px 0;
}
header nav a:hover {
  color: #7D7B7B;
}
header div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header div h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #E9E9E9;
}
.cta {
  margin-top: 30px;
  background: #E9E9E9;
  border-radius: 50px;
  padding: 20px 50px;
  transition: padding 1s ease 0s;
  font-size: 1.2rem;
  text-decoration: none;
  color: #065608;
}
.cta:hover {
  padding: 25px 60px;
}
.main {
  margin-top: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #E9E9E9;
  width: 100%;
  border-radius: 5% 5% 0px 0px;
}
.main h2 {
  margin-top: -65px;
  background: #E9E9E9;
  padding: 15px 30px;
  font-size: 3rem;
  width: fit-content;
  color: #065608;
  border-radius: 50px 50px 0px 0px;
}
.main p {
  margin: 100px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .people {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.about .people .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about .people .person img {
  max-width: 100%;
}
.about .people .person h3 {
  font-size: 3rem;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #E9E9E9 url(../images/door-key.jpg) fixed no-repeat center;
  background-size: cover;
}
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  text-align: center;
  border-top: 1px dashed #9EA3A4;
  color: #7D7B7B;
  background: #E9E9E9;
  width: 100%;
  border-radius: 0px 0px 5% 5%;
  padding: 30px 0;
  white-space: pre-line;
  line-height: 2;
}
