html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  padding: 50px 0;
  width: 100%;
  background: #06560970;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px groove #1D2A1D;
}
@media (max-width: 800px) {
  header img {
    width: 50%;
  }
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
header nav a,
header nav p {
  color: #E9E9E9;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 1s ease-out 0s;
  padding: 10px 0;
}
header nav a img,
header nav p img {
  width: 20px;
}
header nav a:hover,
header nav p:hover {
  color: #7D7B7B;
  cursor: pointer;
}
header nav input {
  display: none;
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }
}
header h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #E9E9E9;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 3.5rem;
    width: 50%;
  }
}
.ctaholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
a.cta {
  margin-top: 30px;
  background: #E9E9E9;
  border-radius: 50px;
  padding: 20px 50px;
  transition: padding 1s ease-out 0s;
  font-size: 1.2rem;
  text-decoration: none;
  color: #065608;
}
a.cta:hover {
  padding: 25px 60px;
}
.main {
  margin-top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #E9E9E9;
  width: 100%;
  border-radius: 5% 5% 0px 0px;
}
.main h2 {
  margin-top: -65px;
  background: #E9E9E9;
  padding: 15px 30px;
  font-size: 3rem;
  width: fit-content;
  color: #065608;
  border-radius: 50px 50px 0px 0px;
}
.main p {
  margin: 100px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .people {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.about .people .person {
  color: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  width: 500px;
  height: 500px;
  border-radius: 150px;
  margin: 100px 0;
  box-shadow: #7D7B7B 4px 8px 16px;
}
.about .people .person h3 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .about .people .person h3 {
    font-size: 2.3rem;
  }
}
.about .people .person h4 {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .about .people .person {
    width: 300px;
    height: 300px;
    border-radius: 100px;
  }
}
.us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  background: rgba(233, 233, 233, 0.541);
  width: 100%;
}
.us a {
  font-size: 1.7rem;
  background: #E9E9E9;
  text-decoration: none;
  padding: 15px 20px;
  margin: 25px 35px;
  color: #BF6363;
  border-radius: 50px;
  display: block;
  transition: font-size 1s ease-out 0s;
}
.us a:hover {
  font-size: 2rem;
}
.main.about {
  border-radius: 150px 150px 0 0;
  margin-top: 65px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #E9E9E9 url(../images/door-key.jpg) fixed no-repeat center;
  background-size: cover;
}
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  text-align: center;
  border-top: 1px dashed #9EA3A4;
  color: #7D7B7B;
  background: #E9E9E9;
  width: 100%;
  border-radius: 0px 0px 5% 5%;
  padding: 30px 0;
  white-space: pre-line;
  line-height: 2;
}
.sticky {
  position: fixed;
  top: 0px;
  padding: 35px 0;
  background: #06560970;
  border-bottom: 1px groove #1D2A1D;
}
.sticky a {
  margin-top: 0px;
}
.login-stick {
  position: absolute;
  top: 0px;
}
.nojump {
  background: none;
  border-bottom: none;
  padding: 0px;
}
.no-jump {
  margin-bottom: 200px;
}
.dd {
  border-radius: 35px;
  display: block;
}
.drop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background: #E9E9E9;
  position: absolute;
  top: 220px;
  right: 50px;
  border-radius: 15px;
  height: 100px;
}
.dropdown {
  background: #E9E9E9;
  color: #7D7B7B;
  border-radius: 15px 15px 0 0;
}
