@import 'reset.less';
@import 'mixins.less';
@import 'Header/header.less';
@import 'CTA/cta.less';
@import 'Main/main.less';
@import 'About/about.less';
// Global
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: @AppWhite url(../images/door-key.jpg) fixed no-repeat center;
    background-size: cover;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    .flex(column, center, center);
}

footer {
    text-align: center;
    border-top: 1px dashed @AppMid;
    color: @AppDark;
    background: @AppWhite;
    width: 100%;
    border-radius: 0px 0px 5% 5%;
    padding: 30px 0;
    white-space: pre-line;
    line-height: 2;
}

.sticky {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    opacity: 0.95;
    background: @HeaderBG;
    .flex(row, center, center);
    width: 100%;
    border-bottom: 1px groove @AppBorder;
    border-radius: 0px;
    div {
        background: @AppWhite;
        border-radius: 50px;
        padding: 20px 50px;
        transition: padding 1s ease 0s;
        &:hover {
            padding: 25px 60px;
            cursor: pointer;
        }
    }
    &:hover {
        padding: 20px 50px;
        cursor: default;
    }
}

.nojump {
    background: none;
    border-bottom: none;
}