#sent {
    .flex(column, space-around, center);
    width: 70%;
    height: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -248px;
    margin-left: -437px;
    z-index: 5;
    background: url(../images/house-money.jpg) no-repeat center / cover;
    color: @AppRed;
    font-size: 3rem;
    text-shadow: @AppDark 0px 0px 10px;
    display: none;
    border-radius: 50px;
}