header {
    padding: 50px 0;
    width: 100%;
    background: @HeaderBG;
    .flex(row, space-around, center);
    flex-wrap: wrap;
    border-bottom: 1px groove @AppBorder;
    img {
        @media @tab {
            width: 50%;
        }
    }
    nav {
        .flex(column, flex-end, center);
        a,
        p {
            color: @AppWhite;
            font-size: 1.5rem;
            text-decoration: none;
            transition: color 1s ease-out 0s;
            padding: 10px 0;
            img {
                width: 20px;
            }
            &:hover {
                color: @AppDark;
                cursor: pointer;
            }
        }
        input {
            display: none;
        }
        @media @tab {
            width: 100%;
            .flex(row, space-around, center);
            padding-top: 50px;
        }
    }
    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: @AppWhite;
        @media @tab {
            font-size: 3.5rem;
            width: 50%;
        }
    }
}