header {
    padding: 0 0 50px;
    width: 100%;
    background: @HeaderBG;
    .flex(row, center, center);
    flex-wrap: wrap;
    border-bottom: 1px groove @AppBorder;
    div {
        .flex(row, center, center);
        width: 50%;
        img {
            max-width: 400px;
        }
    }
    nav {
        width: 100%;
        .flex(row, space-around, center);
        a {
            color: @AppWhite;
            font-size: 1.5rem;
            text-decoration: none;
            transition: color 1s ease-out 0s;
            padding: 10px 0;
            &:hover {
                color: @AppDark;
            }
        }
        input {
            display: none;
        }
        @media @tab {
            width: 100%;
            .flex(row, space-around, center);
            padding-top: 50px;
        }
    }
    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: @AppWhite;
        @media @tab {
            font-size: 3.5rem;
            width: 50%;
        }
    }
}