.main {
    margin-top: 50%;
    .flex(row, center, center);
    flex-wrap: wrap;
    background: @AppWhite;
    width: 100%;
    border-radius: 5% 5% 0px 0px;
    h2 {
        margin-top: -65px;
        background: @AppWhite;
        padding: 15px 30px;
        font-size: 3rem;
        width: fit-content;
        color: @AppGreen;
        border-radius: 50px 50px 0px 0px;
    }
    p {
        margin: 100px;
    }
}