.about {
    .flex(column, center, center);
    .people {
        margin-top: 100px;
        .flex(column, center, center);
        width: 80%;
        .person {
            .flex(column, center, center);
            width: 100%;
            img {
                max-width: 100%;
            }
            h3 {
                font-size: 3rem;
            }
        }
    }
}